body {
    margin: 0;
    font-family: Helvetica, sans-serif;
}

.control-panel {
    max-width: 100vw;
    padding: 1rem;
}

.controls {
    display: flex;
}

.controls-info {
    padding-bottom: 0.5rem;
}

.controls-input {
    padding-right: 0.5rem;
}

#canvas-container {
    max-width: 100vw;
}

@media (orientation: landscape) {
    .container {
        display: flex;
    }

    .controls {
        flex-direction: column;
    }

    .controls-input {
        display: flex;
        flex-direction: column;
        padding-bottom: 0.5rem;
    }

    .controls-input input {
        width: 100%;
    }
}