body {
    margin: 0;
    font-family: Helvetica, sans-serif;
}

input[type="number"] {
    width: 45%;
    font-size: 1.25rem;
}

.container {
    display: flex;
    flex-direction: column;
}

.controls {
    display: flex;
    flex-direction: column;
    padding: 0.5rem;
    font-size: 1.2rem;
}

.controls-info {
    width: 100vw;
    padding: 0.5rem;
}

.control-panel {
    display: flex;
    flex-direction: row;
}

.controls-input {
    width: 30vw;
    padding: 0.5rem;
}

@media (orientation: landscape) {
    .container {
        flex-direction: row;
        width: 100vw;
    }

    .controls {
        flex-direction: column;
        width: 25vw;
        padding: 1rem;
    }

    .controls-input {
        width: 90%;
    }

    .control-panel {
        flex-direction: column;
    }

    input[type=number] {
        width: 100%;
    }

    .controls-info {
        width: 100%;
    }

    .controls-fraction,
    .fraction-inner,
    .controls-seed-size,
    .controls-final-radius {
        display: flex;
        flex-direction: column;
    }
}