body {
    margin: 0;
    font-family: Helvetica, sans-serif;
}

.controls {
    padding: 0 0.5em;
    display: flex;
    flex-wrap: wrap;
}

.controls-input {
    font-size: 0.8em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0.25em;
}

.controls-info {
    font-size: 0.8em;
    margin: 0.5em 0 0 0.5em;
    padding: 0.5em 0 0 0.5em;
}

.controls-input > * {
    padding-right: 0.25em;
}

.controls-input input {
    width: 10vw;
}

.controls-input > button {
    padding: 0.75em;
    background-color: hsl(225, 95%, 60%);
    color: #fff;
    border: transparent;
    border-radius: 0.5em;
    width: 12vw;
}